{{- if .Values.ingress.enabled -}}
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: {{ .Release.Name }}-https-redirect
spec:
  redirectScheme:
    scheme: https
    permanent: true
{{- end }}
