apiVersion: v1
kind: Service
metadata:
  name: thanos-store
  labels:
    app.kubernetes.io/name: thanos-store
spec:
  clusterIP: None
  ports:
    - name: grpc
      port: 10901
      targetPort: 10901
    - name: http
      port: 10902
      targetPort: 10902
  selector:
    app.kubernetes.io/name: thanos-store
