traefik:
  instanceLabelOverride: traefik

  deployment:
    # Deploy multiple replicas.
    replicas: 3

  global:
    # Disable sending of anonymous usage statistics.
    sendAnonymousUsage: false
    # Don't check for new versions.
    checkNewVersion: false

  service:
    annotations:
      io.cilium/lb-ipam-ips: 10.0.3.1
    spec:
      # Use a local traffic policy so we can get the users origin ip
      externalTrafficPolicy: Local

  # Configuration providers.
  providers:
    # Enable Kubernetes CRD provider.
    kubernetesCRD:
      enabled: true
      # Allow IngressRoutes to reference resources in other namespaces
      allowCrossNamespace: true

  metrics:
    # Enable prometheus metrics
    prometheus:
      service:
        enabled: true

      serviceMonitor:
        enabled: true
        additionalLabels:
          metrics.uplink.io/monitor: prometheus
        jobLabel: app.kubernetes.io/instance
