apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: postgres
spec:
  instances: 1
  imageName: ghcr.io/cloudnative-pg/postgresql:17

  resources:
    limits:
      cpu: '2'
      memory: "4Gi"
    requests:
      cpu: "100m"
      memory: "2Gi"

  primaryUpdateMethod: switchover

  postgresql:
    parameters:
      max_connections: "2000"

  bootstrap:
    recovery:
      source: postgres-recovered-2024-08

  externalClusters:
  - name: postgres-recovered-2024-08
    plugin:
      name: barman-cloud.cloudnative-pg.io
      parameters:
        barmanObjectName: postgres-backup-b2
        serverName: postgres-recovered-2024-08

  monitoring:
    enablePodMonitor: false

  # Do a switchover instead of restarting during a rolling upgrade, to prevent
  # downtime.
  # primaryUpdateMethod: switchover
  plugins:
  - name: barman-cloud.cloudnative-pg.io
    isWALArchiver: true
    parameters:
      barmanObjectName: postgres-backup-b2

  storage:
    size: 150Gi
    storageClass: x-cnpg-data

  superuserSecret:
    name: postgres-superuser-auth

  walStorage:
    size: 250Gi
    storageClass: x-cnpg-wal
