image: sknnr/enshrouded-dedicated-server@sha256:c410b742812cc55723cdaa97950f94cdef1b1f8a332bceedce13da9b681c98ee
imageTag: proton-latest
# serviceType should be LoadBalancer or NodePort
service:
  type: LoadBalancer
  loadBalancerIP: 10.0.1.129
resources:
  requests:
    memory: 12G
    cpu: 4.0
volumes:
  dataPVC:
    size: 20Gi
  storageClassName: "ssd"
env:
  serverName: 'rwx'
  gamePort: 15636
  queryPort: 15637
  serverSlots: 16
