redis:
  kubectl:
    image:
      registry: docker.io
      repository: bitnamilegacy/kubectl
      # Use an older tag that doesn't enforce FIPS strict mode
      tag: 1.33.4
  auth:
    # -- Enable authentication.
    enabled: true
    # -- Use our existing sealed secret.
    existingSecret: redis-auth
    # -- The key that contains our password.
    existingSecretPasswordKey: password

  sentinel:
    # Enable Redis Sentinal for HA.
    enabled: true

    # Configure the master service resource.
    masterService:
      # Create a master service that points to the current master.
      enabled: true

  replica:
    automountServiceAccountToken: true

  rbac:
    # Create RBAC resources.
    create: true

  metrics:
    # Enable metrics.
    enabled: true

    serviceMonitor:
      # Create the ServiceMonitor for the metrics.
      enabled: true
      # Make the ServiceMonitor discoverable by prometheus.
      additionalLabels:
        metrics.uplink.io/monitor: prometheus
